<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeeShoes | Thanh Toán</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/customer/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/magnific-popup.css" type="text/css">
<!--    <link rel="stylesheet" href="/assets/customer/css/nice-select.css" type="text/css">-->
    <link rel="stylesheet" href="/assets/customer/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/custom.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/checkout.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Đăng nhập</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/assets/customer/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/assets/customer/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/assets/customer/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Miễn phí vận chuyển, đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <div th:replace="~{/customer/pages/_header.html}"></div>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Thủ tục thanh toán</h4>
                        <div class="breadcrumb__links">
                            <a href="/index">Trang chủ</a>
                            <a href="/shop">Cửa hàng</a>
                            <span>Thủ tục thanh toán</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <div th:if="${paymentError != null}" class="container-fluid d-flex justify-content-center align-items-center">
        <div class="col-7 text-center pt-5">
            <span class="text-danger h4" th:text="${paymentError}"></span>
        </div>
    </div>

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div>
                    <div class="row">

                        <div class="col-lg-7 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                            here</a> to enter your code</h6>
                            <h6 class="checkout__title">Thông tin người nhận</h6>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="checkout__input">

                                        <p>Tên người nhận<span>*</span></p>
                                        <input type="text" id="customerName" placeholder="Ngô Trung Tuyến">

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" id="customerEmail" placeholder="example@gmail.com">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>Số điện thoại<span>*</span></p>
                                        <input type="text" id="customerPhone" placeholder="035xxxxxxx">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input form-group">
                                        <p>Tỉnh/Thành Phố<span>*</span></p>
                                        <select class="form-control" id="tinhThanhPho">
                                            <option value="" selected>Tỉnh/Thành Phố</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input form-group">
                                        <p>Quận/Huyện<span>*</span></p>
                                        <select class="form-control" id="quanHuyen">
                                            <option>Quận/Huyện</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input form-group">
                                        <p>Phường/Xã<span>*</span></p>
                                        <select class="form-control" id="phuongXa">
                                            <option>Phường/Xã</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Số Nhà<span>*</span></p>
                                        <input type="text" id="customerHouseNumber">
                                    </div>
                                </div>
                            </div>
                      <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input id="orderNotes" type="text"
                                placeholder="Notes about your order, e.g. special notes for delivery.">

                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="checkout__order">

                                <h4 class="order__title">Đơn hàng của bạn</h4>
                                <div class="checkout__order__products">Sản phẩm <span>Tổng cộng</span></div>

                                <ul class="checkout__total__products">
                                    <li>01. Vanilla salted caramel <span>$ 300.0</span></li>
                                    <li>02. German chocolate <span>$ 170.0</span></li>
                                    <li>03. Sweet autumn <span>$ 170.0</span></li>
                                    <li>04. Cluten free mini dozen <span>$ 110.0</span></li>
                                </ul>
                                <ul class="checkout__delivery__method">
                                    <li>Phương thức vận chuyển <span><img src="https://api.ghn.vn/themes/angulr/img/logo-ghn-new.png"></span></li>
                                    <li>
                                        <input type="radio" id="deliveryNhanh" name="deliveryMethod" checked>
                                        <label for="deliveryNhanh" class="deliveryMethodLabel">Nhanh</label>
                                        <span>Free</span>
                                    </li>
                                    <li>
                                        <input type="radio" id="deliveryThuong" name="deliveryMethod">
                                        <label for="deliveryThuong" class="deliveryMethodLabel">Thường</label>
                                        <span>Free</span>
                                    </li>
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>$750.99</span></li>
                                    <li>Shipping Fee <span id="shippingFee">Free</span></li>
                                    <li>Total <span id="totalAmount">5.555.555</span></li>
                                </ul>

                                <p>Hình thức thanh toán</p>

                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Thanh toán khi nhận hàng
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Thanh toán online
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                                <button id="placeOrder" class="site-btn">Đặt Hàng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <div th:replace="~{/customer/pages/_footer.html}"></div>
    <!-- Footer Section End -->


    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Tìm kiếm ở đây.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/assets/customer/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/customer/js/bootstrap.min.js"></script>
<!--    <script src="/assets/customer/js/jquery.nice-select.min.js"></script>-->
    <script src="/assets/customer/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/customer/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/customer/js/jquery.countdown.min.js"></script>
    <script src="/assets/customer/js/jquery.slicknav.js"></script>
    <script src="/assets/customer/js/mixitup.min.js"></script>
    <script src="/assets/customer/js/owl.carousel.min.js"></script>
    <script src="/assets/customer/js/main.js"></script>
    <script src="/assets/customer/js/checkout/checkout.js"></script>
</body>

</html>