<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>LightBee | Add product</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/cms/css/vendor.min.css">
    <link rel="stylesheet" href="/assets/cms/vendor/icon-set/style.css">
    <link rel="stylesheet" href="/assets/cms/vendor/icon-set/style.css">
    <link rel="stylesheet" href="/assets/cms/css/custom.css">
    <!-- CSS Front Template -->
    <link rel="stylesheet" href="/assets/cms/css/theme.min.css?v=1.0">
</head>
<body class="   footer-offset">
<script src="/assets/cms/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
<!-- ONLY DEV -->
<!-- ========== HEADER ========== -->
<div th:replace="~{/cms/pages/_header.html}"></div>
<!-- ========== END HEADER ========== -->

<!-- ========== SIDEBAR ========== -->
<div th:replace="~{/cms/pages/_sidebar.html}"></div>
<!-- ========== END SIDEBAR ========== -->
<script src="/assets/cms/js/demo.js"></script>
<!-- END ONLY DEV -->
<!-- ========== MAIN CONTENT ========== -->

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="/cms/product">Sản Phẩm</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Chi Tiết Sản Phẩm</li>
                        </ol>
                    </nav>
                    <h1 class="page-header-title">Chi Tiết Sản Phẩm</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Card -->
                <div class="card mb-3 mb-lg-5">
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">Thông Tin Sản Phẩm</h4>
                    </div>
                    <!-- End Header -->
                    <!-- Body -->
                    <div class="card-body">
                        <!-- Form Group -->
                        <div class="row">
                            <div class="form-group col-md-11">
                                <label for="sanPham" class="input-label">Tên Sản Phẩm</label>
                                <select class="js-select2-custom custom-select" name="sanPham" id="sanPham" size="1"
                                        style="opacity: 0;"
                                        data-hs-select2-options='{
                                            "placeholder": "Tìm sản phẩm...",
                                            "searchInputPlaceholder": "Tìm sản phẩm..."}'>
                                    <option th:each="sp:${lstsanpham}" th:value="*{sp.getId()}"
                                            th:text="*{sp.getTen()}"></option>
                                </select>
                            </div>
                            <div class="col-md-1 p-0">
                                <button class="m-0 p-0 border-0 mt-5" type="button" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Thêm Sản Phẩm.">
                                    <a class="btn btn-primary" href="#"
                                       onclick="setFormSendData('san-pham','Sản Phẩm','sanPham')">
                                        <i class="tio-add-circle"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                        <!-- End Form Group -->

                        <div class="row">
                            <!--Thể loại-->
                            <div class="col-sm-6 row p-0 m-0">
                                <!-- Form Group -->
                                <div class="form-group col-md-10">
                                    <label for="theLoai" class="input-label">Thể Loại</label>
                                    <select class="js-select2-custom custom-select" name="theLoai" id="theLoai"
                                            size="1"
                                            style="opacity: 0;"
                                            data-hs-select2-options='{
                                    "placeholder": "Tìm thể loại...",
                                    "searchInputPlaceholder": "Tìm thể loại..."
                                    }'>
                                        <option th:each="th:${lsttheloai}" th:value="${th.getId()}"
                                                th:text="${th.getTen()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-2 pl-0 m-0">
                                    <button class="m-0 p-0 border-0 mt-5" type="button" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Thêm Thể Loại.">
                                        <a class="btn btn-primary" href="#"
                                           onclick="setFormSendData('the-loai','Thể Loại','theLoai')">
                                            <i class="tio-add-circle"></i>
                                        </a>
                                    </button>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <!--Thương hiệu-->
                            <div class="col-sm-6 row p-0 m-0">
                                <!-- Form Group -->
                                <div class="form-group col-md-10 ">
                                    <label for="thuongHieu" class="input-label">Thương Hiệu</label>

                                    <select class="js-select2-custom custom-select" name="thuongHieu"
                                            id="thuongHieu" size="1"
                                            style="opacity: 0;"
                                            data-hs-select2-options='{
                                    "placeholder": "Tìm thương hiệu...",
                                    "searchInputPlaceholder": "Tìm thương hiệu..."
                                    }'>
                                        <option th:each="th:${lstthuonghieu}" th:value="${th.getId()}"
                                                th:text="${th.getTen()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-2 pl-0 m-0">
                                    <button class="m-0 p-0 border-0 mt-5" type="button" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Thêm thương hiệu.">
                                        <a class="btn btn-primary" href="#"
                                           onclick="setFormSendData('thuong-hieu','Thương Hiệu','thuongHieu')">
                                            <i class="tio-add-circle"></i>
                                        </a>
                                    </button>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <!--Chất liệu-->
                            <div class="col-sm-6 row p-0 m-0">
                                <!-- Form Group -->
                                <div class="form-group col-md-10 ">
                                    <label for="chatLieu" class="input-label">Chất Liệu</label>

                                    <select class="js-select2-custom custom-select" name="chatLieu" id="chatLieu"
                                            size="1"
                                            style="opacity: 0;"
                                            data-hs-select2-options='{
                                    "placeholder": "Tìm chất liệu...",
                                    "searchInputPlaceholder": "Tìm chất liệu..."
                                    }'>
                                        <option th:each="th:${lstchatlieu}" th:value="${th.getId()}"
                                                th:text="${th.getTen()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-2 pl-0 m-0">
                                    <button class="m-0 p-0 border-0 mt-5" type="button" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Thêm chất liệu.">
                                        <a class="btn btn-primary" href="#"
                                           onclick="setFormSendData('chat-lieu','Chất Liệu','chatLieu')">
                                            <i class="tio-add-circle"></i>
                                        </a>
                                    </button>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <!--Đế Giày-->
                            <div class="col-sm-6 row p-0 m-0">
                                <!-- Form Group -->
                                <div class="form-group col-md-10 ">
                                    <label for="deGiay" class="input-label">Đế Giày</label>

                                    <select class="js-select2-custom custom-select" id="deGiay" size="1"
                                            style="opacity: 0;"
                                            data-hs-select2-options='{
                                    "placeholder": "Tìm đế giày...",
                                    "searchInputPlaceholder": "Tìm đế giày..."
                                    }'>
                                        <option th:each="th:${lstdegiay}" th:value="${th.getId()}"
                                                th:text="${th.getTen()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-2 pl-0 m-0">
                                    <button class="m-0 p-0 border-0 mt-5" type="button" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Thêm đế giày.">
                                        <a class="btn btn-primary" href="#"
                                           onclick="setFormSendData('de-giay','Đế Giày','deGiay')">
                                            <i class="tio-add-circle"></i>
                                        </a>
                                    </button>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <!--Cổ Giày-->
                            <div class="col-sm-6 row p-0 m-0">
                                <!-- Form Group -->
                                <div class="form-group col-md-10 ">
                                    <label for="coGiay" class="input-label">Cổ Giày</label>

                                    <select class="js-select2-custom custom-select" name="coGiay" id="coGiay"
                                            size="1"
                                            style="opacity: 0;"
                                            data-hs-select2-options='{
                                    "placeholder": "Tìm cổ giày...",
                                    "searchInputPlaceholder": "Tìm cổ giày..."
                                    }'>
                                        <option th:each="th:${lstcogiay}" th:value="${th.getId()}"
                                                th:text="${th.getTen()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-2 pl-0 m-0">
                                    <button class="m-0 p-0 border-0 mt-5" type="button" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Thêm cổ giày.">
                                        <a class="btn btn-primary" href="#"
                                           onclick="setFormSendData('co-giay','Cổ Giày','coGiay')">
                                            <i class="tio-add-circle"></i>
                                        </a>
                                    </button>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <!--Mũi Giày-->
                            <div class="col-sm-6 row p-0 m-0">
                                <!-- Form Group -->
                                <div class="form-group col-md-10 ">
                                    <label for="muiGiay" class="input-label">Mũi Giày</label>

                                    <select class="js-select2-custom custom-select" name="muiGiay" id="muiGiay"
                                            size="1"
                                            style="opacity: 0;"
                                            data-hs-select2-options='{
                                    "placeholder": "Tìm mũi giày...",
                                    "searchInputPlaceholder": "Tìm mũi giày..."
                                    }'>
                                        <option th:each="th:${lstmuigiay}" th:value="${th.getId()}"
                                                th:text="${th.getTen()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-2 pl-0 m-0">
                                    <button class="m-0 p-0 border-0 mt-5" type="button" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Thêm mũi giày.">
                                        <a class="btn btn-primary" href="#"
                                           onclick="setFormSendData('mui-giay','Mũi Giày','muiGiay')">
                                            <i class="tio-add-circle"></i>
                                        </a>
                                    </button>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <!-- Form Group -->
                        </div>

                        <label class="input-label">Giới Thiệu Sản Phẩm <span class="input-label-secondary">(Optional)</span></label>

                        <!-- Quill -->
                        <div class="quill-custom">
                            <div class="js-quill" style="min-height: 15rem;" data-hs-quill-options='{
                            "placeholder": "Hãy viết một bài giới thiệu thật hay nào..."}'>
                            </div>
                        </div>
                        <!-- End Quill -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card mb-3 mb-lg-5">
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">Media</h4>

                        <!-- Unfold -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-sm btn-ghost-secondary" href="javascript:;"
                               data-hs-unfold-options='{
                                   "target": "#mediaDropdown",
                                   "type": "css-animation"}'>
                                Chọn Ảnh <i class="tio-chevron-down"></i>
                            </a>
                            <div id="mediaDropdown"
                                 class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1">
                                <a class="dropdown-item" href="javascript:;" data-toggle="modal"
                                   data-target="#addImageFromURLModal">
                                    <i class="tio-link dropdown-item-icon"></i>Thêm Đường Dẫn
                                </a>
                                <a class="dropdown-item" href="javascript:;" data-toggle="modal"
                                   data-target="#select_img_firebase">
                                    <i class="tio-youtube-outlined dropdown-item-icon"></i> Chọn Ảnh Có Sẵn
                                </a>
                            </div>
                        </div>
                        <!-- End Unfold -->
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">
                        <!-- Gallery -->
                        <div id="img-selected" class="js-fancybox row justify-content-sm-center gx-2"
                             data-hs-fancybox-options='{
                                 "selector": "#fancyboxGallery .js-fancybox-item"
                                 }'>
                            <div class="text-center p-4">
                                <img class="mb-3" src="/assets/cms/svg/illustrations/sorry.svg" alt="Image Description" style="width: 7rem;">
                                <p class="mb-0">Bạn chưa chọn ảnh.</p>
                            </div>
                        </div>
                        <!-- End Gallery -->
                    </div>
                    <!-- Body -->
                </div>
                <!-- End Card -->
                <!-- Card -->
                <div class="js-add-field card mb-3 mb-lg-5" data-hs-add-field-options='{
                  "template": "#addVariantsTemplate",
                  "container": "#addVariantsContainer",
                  "defaultCreated": 0,
                  "limit": 100
                }'>
                    <!-- Header -->
                    <div class="card-header">
                        <div class="row justify-content-between align-items-center flex-grow-1">
                            <div class="col-12 col-sm mb-3 mb-sm-0">
                                <h4 class="card-header-title">Variants</h4>
                            </div>

                            <div class="col-auto">
                                <div class="d-flex align-items-center">
                                    <!-- Datatable Info -->
                                    <div id="datatableCounterInfo" style="display: none;">
                                        <div class="d-flex align-items-center">
                          <span class="font-size-sm mr-3">
                            <span id="datatableCounter">0</span>
                            Selected
                          </span>
                                            <a class="btn btn-sm btn-outline-danger" href="javascript:;">
                                                <i class="tio-delete-outlined"></i> Delete
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End Datatable Info -->

                                    <a class="js-create-field btn btn-sm btn-ghost-secondary" href="javascript:;">
                                        <i class="tio-add"></i> Add variant
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->
                    </div>
                    <!-- End Header -->

                    <!-- Table -->
                    <div class="table-responsive datatable-custom">
                        <table id="datatable"
                               class="table table-borderless table-thead-bordered table-nowrap table-align-middle"
                               data-hs-datatables-options='{
                         "columnDefs": [{
                            "targets": [0, 1, 6],
                            "orderable": false
                          }],
                         "order": [],
                         "pageLength": 15,
                         "isResponsive": false,
                         "isShowPaging": false
                       }'>
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="table-column-pr-0">
                                    <div class="custom-control custom-checkbox">
                                        <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                                        <label class="custom-control-label" for="datatableCheckAll"></label>
                                    </div>
                                </th>
                                <th></th>
                                <th class="table-column-pl-0">Size</th>
                                <th class="table-column-pl-0">Color</th>
                                <th class="table-column-pl-0">Price</th>
                                <th class="table-column-pl-0">Quantity</th>
                                <th class="table-column-pl-0"></th>
                            </tr>
                            </thead>

                            <tbody id="addVariantsContainer">

                            </tbody>
                        </table>
                    </div>
                    <!-- End Table -->

                    <!-- Footer -->
                    <div class="card-footer">
                        <a class="js-create-field btn btn-sm btn-ghost-secondary" href="javascript:;">
                            <i class="tio-add"></i> Add variant
                        </a>
                    </div>
                    <!-- End Footer -->

                    <!-- Add Variants Field -->
                    <table style="display: none;">
                        <tr id="addVariantsTemplate">
                            <td class="table-column-pr-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="productVariationsCheck13">
                                    <label class="custom-control-label" for="productVariationsCheck13"></label>
                                </div>
                            </td>
                            <th>
                                <img class="avatar" src="/assets/cms/img/400x400/img2.jpg" alt="Image Description">
                            </th>
                            <th class="table-column-pl-0">
                                <input type="text" class="form-control">
                            </th>
                            <th class="table-column-pl-0">
                                <input type="text" class="form-control">
                            </th>
                            <th class="table-column-pl-0">
                                    <input type="text" class="form-control">
                            </th>
                            <th class="table-column-pl-0">
                                <!-- Quantity Counter -->
                                <div class="js-quantity-counter-dynamic input-group-quantity-counter">
                                    <input type="number"
                                           class="js-result form-control input-group-quantity-counter-control"
                                           value="1">

                                    <div class="input-group-quantity-counter-toggle">
                                        <a class="js-minus input-group-quantity-counter-btn" href="javascript:;">
                                            <i class="tio-remove"></i>
                                        </a>
                                        <a class="js-plus input-group-quantity-counter-btn" href="javascript:;">
                                            <i class="tio-add"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Quantity Counter -->
                            </th>
                            <th class="table-column-pl-0">
                                <div class="btn-group" role="group" aria-label="Edit group">
                                    <a class="btn btn-white" href="#">
                                        <i class="tio-edit"></i> Edit
                                    </a>
                                    <a class="btn btn-white" href="#">
                                        <i class="tio-delete-outlined"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </table>
                    <!-- End Add Variants Field -->
                </div>
                <!-- End Card -->
            </div>

            <div class="col-lg-4">
                <!-- Card -->
                <div class="card mb-3 mb-lg-5">
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">Giá</h4>
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="giaNhap" class="input-label">Giá Nhập</label>
                            <div class="input-group">
                                <input type="text" class="form-control money-input-mask" name="giaNhap" id="giaNhap"
                                       placeholder="Vui lòng nhập giá nhập." aria-label="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="giaGoc" class="input-label">Giá Gốc</label>
                            <div class="input-group">
                                <input type="text" class="form-control money-input-mask" name="giaGoc" id="giaGoc"
                                       placeholder="Vui lòng nhập giá nhập." aria-label="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="giaBan" class="input-label">Giá Bán</label>
                            <div class="input-group">
                                <input type="text" class="form-control money-input-mask" name="giaBan" id="giaBan"
                                       placeholder="Vui lòng nhập giá nhập." aria-label="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="giaBan" class="input-label">Số Lượng</label>
                            <div class="input-group">
                                <input type="text" class="form-control money-input-mask-num" name="soLuong" id="soLuong"
                                       placeholder="Vui lòng nhập số lượng mỗi loại." aria-label="">
                            </div>
                        </div>
                        <!-- End Form Group -->

                        <hr class="my-4">

                        <!-- Toggle Switch -->
                        <label class="row toggle-switch" for="sales">
                            <span class="col-8 col-sm-9 toggle-switch-content">
                                <span class="text-dark">Sales</span>
                            </span>
                            <span class="col-4 col-sm-3">
                                <input type="checkbox" class="toggle-switch-input" id="sales">
                                <span class="toggle-switch-label ml-auto">
                                    <span class="toggle-switch-indicator"></span>
                                </span>
                            </span>
                        </label>
                        <hr class="my-4">

                        <!-- Toggle Switch -->
                        <label class="row toggle-switch" for="status">
                            <span class="col-8 col-sm-9 toggle-switch-content">
                                <span class="text-dark">Trạng Thái</span>
                            </span>
                            <span class="col-4 col-sm-3">
                                <input type="checkbox" class="toggle-switch-input" id="status">
                                <span class="toggle-switch-label ml-auto">
                                    <span class="toggle-switch-indicator"></span>
                                </span>
                            </span>
                        </label>
                        <!-- End Toggle Switch -->
                    </div>
                    <!-- Body -->
                </div>
                <!-- End Card -->

                <!-- Card -->
                <div class="card">
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">Phiên Bản</h4>
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">
                        <!-- Form Group -->
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label for="mauSac" class="input-label">Màu Sắc</label>
                                <a class="text-primary" href="#" data-toggle="modal"
                                   data-target="#form-add-color">
                                    Thêm Màu
                                </a>
                            </div>

                            <select class="js-select2-custom custom-select" name="mauSac" id="mauSac" multiple
                                    size="1"
                                    style="opacity: 0;"
                                    data-hs-select2-options='{
                                    "tags": true,
                                    "minimumResultsForSearch": "Infinity",
                                    "placeholder":"Chọn màu"
                                    }'>
                                <option th:each="th:${lstmausac}" th:value="${th.getMaMauSac()}"
                                        th:attr="data-name=${th.getTen()}" th:text="${th.getMaMauSac()}"></option>
                            </select>
                            <!-- End Select2 -->
                        </div>
                        <!-- End Form Group -->

                        <!-- Form Group -->
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label for="kichCo" class="input-label">Kích Cỡ</label>
                                <a class="text-primary" href="#" onclick="setFormSendData('kich-co','Kích Cỡ','kichCo')">
                                    Thêm Cỡ
                                </a>
                            </div>
                            <!-- Select -->
                            <select class="js-select2-custom custom-select de" name="kichCo" id="kichCo" multiple
                                    size="1"
                                    style="opacity: 0;"
                                    data-hs-select2-options='{
                                    "tags": true ,
                                    "placeholder":"Chọn size"
                                    }'>
                                <option th:each="kc:${lstkichco}" th:value="${kc.getTen()}"
                                        th:text="${kc.getTen()}"></option>
                            </select>
                            <!-- End Select -->
                        </div>
                        <!-- Form Group -->
                    </div>
                    <!-- End Body -->
                </div>
                <!-- End Card -->
            </div>
            <div class="d-flex justify-content-center col-12">
                <button class="btn btn-primary" id="save-product-detail">Lưu</button>
            </div>
        </div>

        <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div th:replace="~{/cms/pages/_footer.html}"></div>
    <!-- End Footer -->
    <!--  các form chuyên dụng chứa dữ liệu tạm thời  -->
    <div class="hidden">
        <input type="text" hidden="hidden" id="url-post-data">
        <input type="text" hidden="hidden" id="id-element-data">
    </div>

    <!-- End Footer -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Add Image from URL Modal -->
<div class="modal fade" id="addImageFromURLModal" tabindex="-1" role="dialog"
     aria-labelledby="addImageFromURLModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 id="addImageFromURLModalTitle" class="modal-title">Add image from URL</h4>

                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                        aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body">
                <label for="pasteImageURLNameLabel" class="input-label">Paste image URL</label>
                <input type="text" class="form-control" name="projectName" id="pasteImageURLNameLabel"
                       placeholder="https://" aria-label="https://">
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary">Add media</button>
            </div>
            <!-- End Footer -->
        </div>
    </div>
</div>
<!-- End Add Image from URL Modal -->

<!-- Embed Video Modal -->
<div class="modal fade" id="select_img_firebase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width: 800px">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="Chọn Ảnh">Chọn Ảnh</h5>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                        aria-label="Close">
                    <i class="tio-clear tio-lg" aria-hidden="true"></i>
                </button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body">

                <span class="divider"><h4>Ảnh Đã Chọn</h4></span>
                <!-- Gallery -->
                <div id="anh_duoc_chon" class="js-fancybox row gx-2"
                     data-hs-fancybox-options='{ "selector": "#fancyboxGalleryModalEg .js-fancybox-item", "loop": true }'>

                </div>
                <!-- End Gallery -->
                <span class="divider"><h4>Ảnh Hiện Có</h4></span>
                <!-- Gallery -->
                <div id="anh_co_san" class="js-fancybox row gx-2"
                     data-hs-fancybox-options='{ "selector": "#fancyboxGalleryModalEg .js-fancybox-item", "loop": true }'>
                    <!-- End Gallery -->
                </div>
                <!-- End Body -->

                <!-- Footer -->
                <div class="modal-footer pb-0">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                    <label class="btn btn-sm btn-primary transition-3d-hover custom-file-btn" for="fileAttachmentBtn"
                           style="height: 41px">
                        <span id="customFileExample5">Thêm Ảnh</span>
                        <input id="fileAttachmentBtn" name="custom-file" type="file" multiple
                               class="js-file-attach custom-file-btn-input"
                               data-hs-file-attach-options='{ "textTarget": "#customFileExample5"}'>
                    </label>
                    <a id="btn-reset-img" class="btn btn-primary">Làm Mới</a>
                    <button id="btn-accept-select-img" type="button" class="btn btn-primary" data-dismiss="modal">Xác
                        Nhận
                    </button>
                </div>
                <!-- End Footer -->
            </div>
        </div>
    </div>
    <!-- End Embed Video Modal -->
</div>
<!-- Products Advanced Features Modal -->
<div class="modal fade" id="productsAdvancedFeaturesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-close">
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                        aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body">
                <div class="text-center mb-7">
                    <h4 class="h1">Advanced features</h4>
                    <p>"Compare to" Price, Bulk Discount Pricing, Inventory Tracking</p>

                    <a class="btn btn-primary" href="#">
                        <i class="tio-star mr-1"></i> Upgrade to get these features
                    </a>
                </div>

                <!-- Media -->
                <div class="d-sm-flex">
                    <img class="avatar avatar-xl avatar-4by3 mb-3 mb-sm-0 mr-4"
                         src="/assets/cms/svg/illustrations/choice.svg" alt="Image Description">

                    <div class="media-body">
                        <h4>"Compare to" price</h4>
                        <p>Use this feature when you want to put a product on sale or show savings off suggested
                            retail
                            pricing.</p>
                    </div>
                </div>
                <!-- End Media -->

                <hr class="my-4">

                <!-- Media -->
                <div class="d-sm-flex">
                    <img class="avatar avatar-xl avatar-4by3 mb-3 mb-sm-0 mr-4"
                         src="/assets/cms/svg/illustrations/presenting.svg" alt="Image Description">

                    <div class="media-body">
                        <h4>Bulk discount pricing</h4>
                        <p>Encourage higher purchase quantities with volume discounts.</p>
                    </div>
                </div>
                <!-- End Media -->

                <hr class="my-4">

                <!-- Media -->
                <div class="d-sm-flex">
                    <img class="avatar avatar-xl avatar-4by3 mb-3 mb-sm-0 mr-4"
                         src="/assets/cms/svg/illustrations/book.svg" alt="Image Description">

                    <div class="media-body">
                        <h4>Inventory tracking</h4>
                        <p>Automatically keep track of product availability and receive notifications when inventory
                            levels get low.</p>
                    </div>
                </div>
                <!-- End Media -->
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Close
                </button>
                <button type="button" class="btn btn-primary">Upgrade now</button>
            </div>
            <!-- End Footer -->
        </div>
    </div>
    -
</div>
<!-- End Products Advanced Features Modal -->
<!-- add san pham Modal -->
<div class="modal fade" id="form-add-product-attr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalLabel">Thêm Mới Sản Phẩm</h5>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                        aria-label="Close">
                    <i class="tio-clear tio-lg" aria-hidden="true"></i>
                </button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body pb-0">
                <div class="input-group input-group-merge form-group">
                    <label for="product-name-modal" class="input-label col-12 pl-0" id="form-modal-add-attr-label">Tên
                        :</label>
                    <input type="text" id="product-name-modal" class="js-form-search form-control"
                           placeholder="Vui lòng nhập tên...">
                    <a class="input-group-append" href="javascript:;">
                            <span class="input-group-text">
                                <i id="clearIconModalEg" class="tio-clear tio-lg" style="display: none;"></i>
                            </span>
                    </a>
                </div>
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="button" id="btn-add-new-product" class="btn btn-primary">Thêm Mới</button>
            </div>
            <!-- End Footer -->
        </div>
    </div>
</div>
<!-- end san pham Modal -->
<!-- add màu sắc Modal -->
<div class="modal fade" id="form-add-color" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="form-add-color-Label">Thêm Màu</h5>
                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                        aria-label="Close">
                    <i class="tio-clear tio-lg" aria-hidden="true"></i>
                </button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body row">
                <div class="col-md-4 form-group">
                    <label for="colorChoice" class="col-12">Chọn màu:</label>
                    <input type="color" id="colorChoice" value="" onchange="showColorCode(this.value)">
                </div>
                <div class="col-md-8 form-group">
                    <label class="">Mã Màu</label>
                    <input id="colorCode" type="text" class="form-control disabled" disabled>
                    <label class="">Tên Màu</label>
                    <input id="color-name" type="text" class="form-control">
                </div>
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                <button type="button" id="btn-add-new-color" class="btn btn-primary">Thêm Mới</button>
            </div>
            <!-- End Footer -->
        </div>
    </div>
</div>
<!-- Toast -->
<div id="systoast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 9999;width: 300px;">
    <div class="toast-header">
        <img class="avatar avatar-sm avatar-circle mr-2" id="img-toast" src="/assets/cms/img/160x160/img1.jpg" alt="Image description">
        <h5 class="mb-0" id="toast-status">Hệ Thống</h5>
        <small class="ml-auto">Vừa xong</small>
        <button type="button" class="close ml-3" data-dismiss="toast" aria-label="Close">
            <i class="tio-clear" aria-hidden="true"></i>
        </button>
    </div>
    <div class="toast-body" id="system-toast-mesage">
        Thành Công !
    </div>
</div>
<!-- End Toast -->
<!-- ========== END SECONDARY CONTENTS ========== -->


<!-- JS Implementing Plugins -->
<script src="/assets/cms/js/vendor.min.js"></script>
<!-- JS Front -->
<script src="/assets/cms/js/theme.min.js"></script>
<script src="/assets/cms/js/add-product.js"></script>
<script src="/assets/cms/js/custom-firebase.js" type="module"></script>
<script src="/assets/cms/js/custom.js"></script>
<!-- JS Plugins Init. -->


<!-- IE Support -->
<div th:replace="~{/cms/pages/_IE-suport.html}"></div>
</body>
</html>
