<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>LigthBee | Product</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/cms/css/vendor.min.css">
    <link rel="stylesheet" href="/assets/cms/vendor/icon-set/style.css">


    <!-- CSS Front Template -->
    <link rel="stylesheet" href="/assets/cms/css/theme.min.css?v=1.0">
    <link rel="stylesheet" href="/assets/cms/css/custom.css">
</head>

<body class="   footer-offset">
<script src="/assets/cms/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
<!-- ========== HEADER ========== -->
<div th:replace="~{/cms/pages/_header.html}"></div>
<!-- ========== END HEADER ========== -->

<!-- ========== SIDEBAR ========== -->
<div th:replace="~{/cms/pages/_sidebar.html}"></div>
<!-- ========== END SIDEBAR ========== -->
<script src="/assets/cms/js/demo.js"></script>
<!-- ========== MAIN CONTENT ========== -->
<!-- Navbar Vertical -->


<!-- End Navbar Vertical -->

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center mb-3">
                <div class="col-sm mb-2 mb-sm-0">
                    <h1 class="page-header-title">Sản Phẩm <span class="badge badge-soft-dark ml-2" th:text="${#lists.size(lstsanpham)}"></span></h1>

                    <div class="mt-2">
                        <a class="text-body mr-3" href="javascript:;" data-toggle="modal"
                           data-target="#exportProductsModal">
                            <i class="tio-download-to mr-1"></i> Export
                        </a>
                        <a class="text-body" href="javascript:;" data-toggle="modal" data-target="#importProductsModal">
                            <i class="tio-publish mr-1"></i> Import
                        </a>
                    </div>
                </div>

                <div class="col-sm-auto">
                    <a class="btn btn-primary" href="/cms/add-product">Thêm Mới</a>
                </div>
            </div>
            <!-- End Row -->

        </div>
        <!-- End Page Header -->

        <div class="row justify-content-end mb-3">
            <div class="col-lg">
                <!-- Datatable Info -->
                <div id="datatableCounterInfo" style="display: none;">
                    <div class="d-sm-flex justify-content-lg-end align-items-sm-center">
                <span class="d-block d-sm-inline-block font-size-sm mr-3 mb-2 mb-sm-0">
                  <span id="datatableCounter">0</span>
                  Selected
                </span>
                        <a class="btn btn-sm btn-outline-danger mb-2 mb-sm-0 mr-2" href="javascript:;">
                            <i class="tio-delete-outlined"></i> Delete
                        </a>
                        <a class="btn btn-sm btn-white mb-2 mb-sm-0 mr-2" href="javascript:;">
                            <i class="tio-archive"></i> Archive
                        </a>
                        <a class="btn btn-sm btn-white mb-2 mb-sm-0 mr-2" href="javascript:;">
                            <i class="tio-publish"></i> Publish
                        </a>
                        <a class="btn btn-sm btn-white mb-2 mb-sm-0" href="javascript:;">
                            <i class="tio-clear"></i> Unpublish
                        </a>
                    </div>
                </div>
                <!-- End Datatable Info -->
            </div>
        </div>
        <!-- End Row -->

        <!-- Card -->
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <form>
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="datatableSearch" type="search" class="form-control"
                                       placeholder="Tìm kiếm sản phẩm" aria-label="Tìm sản phẩm" autofocus>
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>

                    <div class="col-auto top-1em">
                        <!-- Form Check -->
                        <div class="form-check form-check-inline">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customInlineRadio1" class="custom-control-input" checked name="status" value="">
                                <label class="custom-control-label" for="customInlineRadio1">Tất cả</label>
                            </div>
                        </div>
                        <!-- End Form Check -->

                        <!-- Form Check -->
                        <div class="form-check form-check-inline">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customInlineRadio2" class="custom-control-input indeterminate-checkbox" name="status" value="active">
                                <label class="custom-control-label" for="customInlineRadio2">Đang Bán</label>
                            </div>
                        </div>
                        <!-- End Form Check -->

                        <!-- Form Check -->
                        <div class="form-check form-check-inline">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customInlineRadio3" class="custom-control-input indeterminate-checkbox" name="status" value="noActive">
                                <label class="custom-control-label" for="customInlineRadio3">Chưa Bán</label>
                            </div>
                        </div>
                        <div class="hs-unfold mr-2 form-group">
                            <select class="js-select2-custom custom-select" name="theLoai"
                                    id="theLoai" size="1"
                                    style="opacity: 0;"
                                    data-hs-select2-options='{
                                    "placeholder": "Chọn thể loại...",
                                    "searchInputPlaceholder": "Tìm thể loại..."
                                    }'>
                                <option value="all" selected>Chọn Thể Loại</option>
                                <option th:each="tl:${lsttheloai}" th:value="${tl.getTen()}"
                                        th:text="${tl.getTen()}"></option>
                            </select>
                        </div>
                        <!-- Unfold -->
                        <div class="hs-unfold mr-2 form-group">
                            <select class="js-select2-custom custom-select" name="thuongHieu"
                                    id="thuongHieu" size="1"
                                    style="opacity: 0;"
                                    data-hs-select2-options='{
                                    "placeholder": "Chọn thương hiệu...",
                                    "searchInputPlaceholder": "Tìm thương hiệu..."
                                    }'>
                                <option value="all" selected>Chọn Thương Hiệu</option>
                                <option th:each="th:${lstthuonghieu}" th:value="${th.getTen()}"
                                        th:text="${th.getTen()}"></option>
                            </select>
                        </div>
                        <!-- End Unfold -->

                        <!-- Unfold -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-white" href="javascript:;" data-hs-unfold-options='{
                       "target": "#showHideDropdown",
                       "type": "css-animation"
                     }'>
                                <i class="tio-table mr-1"></i> Columns <span
                                    class="badge badge-soft-dark rounded-circle ml-1">6</span>
                            </a>

                            <div id="showHideDropdown"
                                 class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right dropdown-card"
                                 style="width: 15rem;">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">STT</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_stt">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_stt" checked="">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">Sản Phẩm</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_product">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_product" checked="">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">Thể Loại</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_type">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_type" checked="">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">Thương Hiệu</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_vendor">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_vendor" checked="">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">Ngày Thêm</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_stocks">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_stocks">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">Người Thêm</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_sku">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_sku">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">Giá Nhập</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_price">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_price" checked="">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="mr-2">Số Lượng</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_quantity">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_quantity" checked="">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="mr-2">Trạng Thái</span>

                                            <!-- Checkbox Switch -->
                                            <label class="toggle-switch toggle-switch-sm" for="toggleColumn_variants">
                                                <input type="checkbox" class="toggle-switch-input"
                                                       id="toggleColumn_variants" checked="">
                                                <span class="toggle-switch-label">
                              <span class="toggle-switch-indicator"></span>
                            </span>
                                            </label>
                                            <!-- End Checkbox Switch -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Unfold -->
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive datatable-custom" style="overflow-x: auto;overflow-y: hidden;">
                <table id="datatable"
                       class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                       data-hs-datatables-options='{
                       "select":true,
                      "ordering": false,
                     "columnDefs": [{
                        "targets": [0, 9],
                        "width": "5%",
                        "orderable": false
                      }],
                     "order":[[1, "asc"]],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 10,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="table-column-pr-0">
                            <div class="custom-control custom-checkbox">
                                <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" for="datatableCheckAll"></label>
                            </div>
                        </th>
                        <th>STT</th>
                        <th class="table-column-pl-0">Sản Phẩm</th>
                        <th>Thể Loại</th>
                        <th>Thương Hiệu</th>
                        <th>Ngày Thêm</th>
                        <th>Người Thêm</th>
                        <th>Giá Nhập</th>
                        <th>Số Lượng</th>
                        <th>Trạng Thái</th>
                        <th>Hành Động</th>
                    </tr>
                    </thead>
                    <tbody id="dataInTable">
                    <tr th:each="sp,iter:${lstsanpham}"
                        th:attr="data-brand=${sp.getThuongHieu()== null ? 'N/A':sp.getThuongHieu().getTen()}">
                        <td class="table-column-pr-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                       th:id="'productsCheck' + ${iter.index}" th:attr="data-id-product=${sp.getId()}">
                                <label class="custom-control-label" th:for="'productsCheck' + ${iter.index}"></label>
                            </div>
                        </td>
                        <td th:text="${iter.index+1}"></td>
                        <td class="table-column-pl-0">
                            <a class="media align-items-center" th:href="@{/cms/product-detail(id=${sp.getId()})}">
                                <th:block th:if="${#lists.size(sp.getAnh()) == 0}">
                                    <img class="avatar avatar-lg mr-3" src="/assets/cms/img/400x400/img2.jpg"
                                         alt="Image Description">
                                </th:block>
                                <th:block th:each="anh:${sp.getAnh()}" th:if="${anh.isMain == true}">
                                    <img class="avatar avatar-lg mr-3" th:src="${anh.getUrl()}"
                                         alt="Image Description">
                                </th:block>
                                <div class="media-body">
                                    <h5 class="text-hover-primary mb-0" th:text="${sp.getTen()}"></h5>
                                </div>
                            </a>
                        </td>
                        <td th:text="${sp.getTheLoai() == null ? 'N/A':sp.getTheLoai().getTen()}"></td>
                        <td th:text="${sp.getThuongHieu()== null ? 'N/A':sp.getThuongHieu().getTen()}"></td>
                        <td th:text="${#dates.format (sp.getNgayTao(), 'dd-MM-yyyy')}"></td>
                        <td th:text="${sp.getNguoiTao()==null?'N/A':sp.getNguoiTao()}"></td>
                        <td th:text="${sp.getGiaNhap()==null?0:#numbers.formatDecimal (sp.getGiaNhap(), 1, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></td>
                        <td th:text="${sp.getSoLuong()}">0</td>
                        <td th:text="${sp.isTrangThai()==true?'Đang Bán':'Chưa Bán'}">2</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-sm btn-white" th:href="@{/cms/product-detail(id=${sp.getId()})}">
                                    <i class="tio-edit"></i> Edit
                                </a>

                                <!-- Unfold -->
                                <div class="hs-unfold btn-group">
                                    <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-white dropdown-toggle dropdown-toggle-empty"
                                       href="javascript:;" data-hs-unfold-options='{
                             "target": "#productsEditDropdown1",
                             "type": "css-animation",
                             "smartPositionOffEl": "#datatable"
                           }'></a>

                                    <div id="productsEditDropdown1"
                                         class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1">
                                        <a class="dropdown-item" href="#">
                                            <i class="tio-delete-outlined dropdown-item-icon"></i> Delete
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="tio-archive dropdown-item-icon"></i> Archive
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="tio-publish dropdown-item-icon"></i> Publish
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="tio-clear dropdown-item-icon"></i> Unpublish
                                        </a>
                                    </div>
                                </div>
                                <!-- End Unfold -->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- End Table -->
            <!-- Footer -->
            <div class="card-footer">
                <!-- Pagination -->
                <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
                    <div class="col-sm mb-2 mb-sm-0">
                        <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                            <span class="mr-2">Showing:</span>

                            <!-- Select -->
                            <select id="datatableEntries" class="js-select2-custom" data-hs-select2-options='{
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                            "dropdownAutoWidth": true,
                            "width": true
                          }'>
                                <option th:if="${#lists.size(lstsanpham) < 10}" th:value="${#lists.size(lstsanpham)}"
                                        selected th:text="${#lists.size(lstsanpham)}"></option>
                                <option th:if="${#lists.size(lstsanpham) >= 10}" th:value="10" selected>10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <!-- End Select -->

                            <span class="text-secondary mr-2">of</span>

                            <!-- Pagination Quantity -->
                            <span id="datatableWithPaginationInfoTotalQty"></span>
                        </div>
                    </div>

                    <div class="col-sm-auto">
                        <div class="d-flex justify-content-center justify-content-sm-end">
                            <!-- Pagination -->
                            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                        </div>
                    </div>
                </div>
                <!-- End Pagination -->
            </div>
            <!-- End Footer -->
        </div>
        <!-- End Card -->
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <div th:replace="~{/cms/pages/_footer.html}"></div>
    <!-- End Footer -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Export Products Modal -->
<div class="modal fade" id="exportProductsModal" tabindex="-1" role="dialog" aria-labelledby="exportProductsModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 id="exportProductsModalTitle" class="modal-title">Export products</h4>

                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                        aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="modal-body">
                <p>This CSV file can update all product information. To update just inventory quantites use the <a
                        href="#">CSV file for inventory.</a></p>

                <!-- Form Group -->
                <div class="form-group">
                    <label class="input-label">Export</label>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-radio mb-2">
                        <input type="radio" id="exportProductsRadio1" name="exportProductsRadio"
                               class="custom-control-input" checked="">
                        <label class="custom-control-label" for="exportProductsRadio1">Current page</label>
                    </div>
                    <div class="custom-control custom-radio mb-2">
                        <input type="radio" id="exportProductsRadio2" name="exportProductsRadio"
                               class="custom-control-input">
                        <label class="custom-control-label" for="exportProductsRadio2">All products</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="exportProductsRadio3" name="exportProductsRadio"
                               class="custom-control-input" disabled="">
                        <label class="custom-control-label" for="exportProductsRadio3">Selected: 20 products</label>
                    </div>
                    <!-- End Custom Checkbox -->
                </div>
                <!-- End Form Group -->

                <label class="input-label">Export as</label>

                <!-- Custom Checkbox -->
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" id="exportProductsAsRadio1" name="exportProductsAsRadio"
                           class="custom-control-input" checked="">
                    <label class="custom-control-label" for="exportProductsAsRadio1">CSV for Excel, Numbers, or other
                        spreadsheet programs</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="exportProductsAsRadio2" name="exportProductsAsRadio"
                           class="custom-control-input">
                    <label class="custom-control-label" for="exportProductsAsRadio2">Plain CSV file</label>
                </div>
                <!-- End Custom Checkbox -->
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary">Export products</button>
            </div>
            <!-- End Footer -->
        </div>
    </div>
</div>
<!-- End Export Products Modal -->

<!-- Import Products Modal -->
<div class="modal fade" id="importProductsModal" tabindex="-1" role="dialog" aria-labelledby="importProductsModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 id="importProductsModalTitle" class="modal-title">Import products by CSV</h4>

                <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal"
                        aria-label="Close">
                    <i class="tio-clear tio-lg"></i>
                </button>
            </div>
            <!-- End Header -->
            <!-- Body -->
            <div class="modal-body">
                <p><a href="#">Download a sample CSV template</a> to see an example of the format required.</p>

                <!-- Form Group -->
                <div class="form-group">
                    <!-- Dropzone -->
                    <div id="attachFilesNewProjectLabel" class="js-dropzone dropzone-custom custom-file-boxed">
                        <div class="dz-message custom-file-boxed-label">
                            <img class="avatar avatar-xl avatar-4by3 mb-3"
                                 src="/assets/cms/svg/illustrations/browse.svg" alt="Image Description">
                            <h5 class="mb-1">Choose files to upload</h5>
                            <p class="mb-2">or</p>
                            <span class="btn btn-sm btn-primary">Browse files</span>
                        </div>
                    </div>
                    <!-- End Dropzone -->
                </div>
                <!-- End Form Group -->

                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="overwriteCurrentProductsCheckbox">
                    <label class="custom-control-label" for="overwriteCurrentProductsCheckbox">Overwrite any current
                        products that have the same handle. Existing values will be used for any missing columns.<a
                                href="#">Learn more</a></label>
                </div>
                <!-- End Custom Checkbox -->
            </div>
            <!-- End Body -->

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary">Upload and continue</button>
            </div>
            <!-- End Footer -->
        </div>
    </div>
</div>
<!-- End Import Products Modal -->
<!-- ========== END SECONDARY CONTENTS ========== -->
<!-- JS Implementing Plugins -->
<script src="/assets/cms/js/vendor.min.js"></script>
<!-- JS Front -->
<script src="/assets/cms/js/theme.min.js"></script>
<script src="/assets/cms/js/product.js"></script>
<!-- JS Plugins Init. -->
<div th:replace="~{/cms/pages/_IE-suport.html}"></div>
</body>
</html>
