<div id="sidebarMain" class="d-none">
    <aside
            class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
        <div class="navbar-vertical-container">
            <div class="navbar-vertical-footer-offset">
                <div class="navbar-brand-wrapper justify-content-between">
                    <!-- Logo -->
                    <a class="navbar-brand" href="/cms/" aria-label="Front">
                        <img class="navbar-brand-logo" src="/assets/cms/svg/logos/logo-color-no-background.png" style="width: 9.5rem" alt="Logo">
                        <img class="navbar-brand-logo-mini" src="/assets/cms/svg/logos/logo-short.svg" alt="Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Navbar Vertical Toggle -->
                    <button type="button"
                            class="js-navbar-vertical-aside-toggle-invoker navbar-vertical-aside-toggle btn btn-icon btn-xs btn-ghost-dark">
                        <i class="tio-clear tio-lg"></i>
                    </button>
                    <!-- End Navbar Vertical Toggle -->
                </div>

                <!-- Content -->
                <div class="navbar-vertical-content">
                    <ul class="navbar-nav navbar-nav-lg nav-tabs">
                        <!-- Dashboards -->
                        <li class="nav-item show">
                            <a class="js-nav-tooltip-link nav-link active" href="/cms/"
                               title="Dashboards">
                                <i class="tio-home-vs-1-outlined nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Dashboards</span>
                            </a>
                        </li>
                        <!-- End Dashboards -->

                        <li class="nav-item">
                            <small class="nav-subtitle" title="Pages">Quản Trị</small>
                            <small class="tio-more-horizontal nav-subtitle-replacer"></small>
                        </li>
                        <li class="nav-item">
                            <a class="js-nav-tooltip-link nav-link" href="layouts.html" title="" data-placement="left" data-original-title="Layouts">
                                <i class="tio-dashboard-vs-outlined nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Bán Hàng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="js-nav-tooltip-link nav-link" href="/cms/hoa-don" title="" data-placement="left" data-original-title="Layouts">
                                <i class="tio-dashboard-vs-outlined nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Quản Lý Đơn Hàng</span>
                            </a>
                        </li>
                        <!-- Sản Phẩm -->
                        <li class="navbar-vertical-aside-has-menu ">
                            <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;"
                               title="Sản Phẩm">
                                <i class="tio-pages-outlined nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Sản Phẩm</span>
                            </a>

                            <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                                <li class="nav-item">
                                    <a class="nav-link " href="/cms/product" title="Sản Phẩm">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Sản Phẩm</span>
                                    </a>
                                </li>
                                <li class="navbar-vertical-aside-has-menu">
                                    <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle" href="javascript:;" title="Thuộc Tính">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Thuộc Tính</span>
                                    </a>
                                    <ul class="js-navbar-vertical-aside-submenu nav nav-sub" style="display: none; top: 83.6px;">
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-material" title="Chất Liệu">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate">Chất Liệu</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-color" title="Chất Liệu">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate">Màu Sắc</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-size" title="Chất Liệu">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate">Kích Cỡ</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-brand" title="Thương Hiệu">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate">Thương Hiệu</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-category" title="Thể Loại">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate"> Thể Loại</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-sole" title="Đế Giày">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate">Đế Giày</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-toe" title="Mũi Giày">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate">Mũi Giày</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/cms/shoe-collar" title="Cổ Giày">
                                                <span class="tio-circle-outlined nav-indicator-icon"></span>
                                                <span class="text-truncate">Cổ Giày</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- End Sản Phẩm -->
                        <!-- User -->
                        <li class="navbar-vertical-aside-has-menu ">
                            <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;"
                               title="Pages">
                                <i class="tio-pages-outlined nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">User</span>
                            </a>

                            <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                                <li class="nav-item">
                                    <a class="nav-link " th:href="@{/cms/chuc-vu}" title="Referrals">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Chức vụ</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " th:href="@{/cms/nhan-vien}" title="Referrals">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Nhân Viên</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " th:href="@{/cms/khach-hang}" title="Referrals">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Khách Hàng</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End User -->
                        <!-- Voucher -->
                        <li class="navbar-vertical-aside-has-menu ">
                            <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;"
                               title="Pages">
                                <i class="tio-pages-outlined nav-icon"></i>
                                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Voucher</span>
                            </a>

                            <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                                <li class="nav-item">
                                    <a class="nav-link " href="/cms/add-voucher" title="Referrals">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Thêm Voucher</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/cms/voucher"  title="Referrals">
                                        <span class="tio-circle nav-indicator-icon"></span>
                                        <span class="text-truncate">Quản Lý Voucher</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Voucher -->
                    </ul>
                </div>
                <!-- End Content -->

                <!-- Footer -->
                <div class="navbar-vertical-footer">
                    <ul class="navbar-vertical-footer-list">
                        <li class="navbar-vertical-footer-list-item">
                            <!-- Unfold -->
<!--                            CONTENT FOOTER-->
                            <!-- End Unfold -->
                        </li>
                    </ul>
                </div>
                <!-- End Footer -->
            </div>
        </div>
    </aside>
</div>

<div id="sidebarCompact" class="d-none">
</div>
    <!--    CHƯA RÕ LÝ DO SAU KHI XÓA ĐI ĐOẠN CODE NÀY SIDEBAR SẼ BỊ LỖI HIỂN THỊ-->
    <!-- Builder -->
    <div id="styleSwitcherDropdown" class="hs-unfold-content sidebar sidebar-bordered sidebar-box-shadow"
         style="width: 35rem;">
        <div class="card card-lg border-0 h-100">
            <!-- Footer -->
            <div class="card-footer">
                <div class="row gx-2">
                    <div class="col">
                        <button type="button" id="js-builder-reset" class="btn btn-block btn-lg btn-white">
                            <i class="tio-restore"></i> Reset
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" id="js-builder-preview" class="btn btn-block btn-lg btn-primary">
                            <i class="tio-visible"></i> Preview
                        </button>
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Footer -->
        </div>
    </div>
    <!-- End Builder -->