<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LightBee | Trang Cá Nhân</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/customer/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/style.css?v=1.0" type="text/css">
    <link rel="stylesheet" href="/assets/customer/custom.css?v=1.0" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/profile.css?v=1.0" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="#">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/assets/customer/img/icon/search.png" alt=""></a>
        <a href="#"><img src="/assets/customer/img/icon/heart.png" alt=""></a>
        <a href="#"><img src="/assets/customer/img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->
<!-- Header Section Begin -->
<div th:replace="~{/customer/pages/_header.html}"></div>
<!-- Header Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Trang Cá Nhân</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Trang Chủ</a>
                        <span>Trang Cá Nhân</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="cart__user mb-3">
                    <div class="w-100 wraper_user">
                        <img id="avatar_preview" class="rounded-circle img_avatar"
                             th:src="${user.getAvatar()==null?'/assets/customer/img/about/ludeptrai.jpg':user.getAvatar()}"
                             width="150" height="150">
                        <label class="btn" for="input_avatar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <input id="input_avatar" type="file" accept="image/*" hidden="hidden">
                        </label>
                    </div>
                    <div class="info text-center mt-2">
                        <h3 class="font-weight-bold user_name"
                            th:text="${user.getKhachHang()==null or user.getKhachHang().getHoTen()==null?'N/A':user.getKhachHang().getHoTen()}">
                            Đặng Anh Tuấn</h3>
                        <label class="w-100 email" th:text="${user.getKhachHang()==null?'N/A':user.getEmail()}">lutan2212@gmail.com</label>
                        <label class="w-100 phone"
                               th:text="${user.getKhachHang()==null or user.getKhachHang().getSdt()==null?'N/A':user.getKhachHang().getSdt()}">0866755653</label>
                        <th:block
                                th:if="${user.getKhachHang()!=null and user.getKhachHang().isGioiTinh()!=null and user.getKhachHang().isGioiTinh()==true}">
                            <label class="w-100 gender">Nam <i class="fa fa-mars" aria-hidden="true"></i></label>
                        </th:block>
                        <th:block
                                th:if="${user.getKhachHang()!=null and user.getKhachHang().isGioiTinh()!=null and user.getKhachHang().isGioiTinh()==false}">
                            <label class="w-100 gender">Nữ <i class="fa fa-venus" aria-hidden="true"></i></label>
                        </th:block>
                        <label class="w-100 birthdate"
                               th:text="${#dates.format(user.getKhachHang().getNgaySinh(), 'dd/MM/yyyy')}">22/12/2001</label>
                        <th:block th:if="${user.getKhachHang() != null and user.getKhachHang().getDiaChiMacDinh() != null}">

                            <label class="w-100 address"
                                   th:text="${user.getKhachHang().getDiaChiMacDinh().getSoNha()+', '+user.getKhachHang().getDiaChiMacDinh().getPhuongXa()+', '+user.getKhachHang().getDiaChiMacDinh().getQuanHuyen()+', '+user.getKhachHang().getDiaChiMacDinh().getTinhThanhPho()}"></label>
                        </th:block>
                    </div>
                </div>
                <div class="w-100">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link mb-1" id="v-pills-profile-tab" data-toggle="pill" href="#pills-profile"
                           role="tab" aria-controls="v-pills-profile" aria-selected="false">Tài Khoản</a>
                        <a class="nav-link mb-1 active" id="pill-list-oder-tab" data-toggle="pill"
                           href="#pill-list-oder"
                           role="tab" aria-controls="v-pills-messages" aria-selected="true">Đơn Mua</a>
                        <a class="nav-link mb-1" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                           role="tab" aria-controls="v-pills-settings" aria-selected="false">Mã Giảm Giá</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        Profile
                    </div>
                    <div class="tab-pane fade show active oder__list" id="pill-list-oder" role="tabpanel"
                         aria-labelledby="pill-list-oder-tab">
                        <div class="mb-3 d-flex justify-content-between">
                            <h3 class="title_card">Danh Sách Đơn Hàng</h3>
                            <div class="form_filter">
                                <select class="select_status" type="text">
                                    <option value="">Chờ Xác Nhận</option>
                                    <option value="">Chờ Giao Hàng</option>
                                    <option value="">Đang Vận Chuyển</option>
                                    <option value="">Đã Hủy</option>
                                    <option value="">Đã Giao Hàng</option>
                                    <option value="">Thành Công</option>
                                </select>
                                <input class="search_input" type="text" placeholder="Tìm kiếm mã hóa đơn.">
                            </div>
                        </div>
<!--                        <div class="card w-100 mb-3">-->
<!--                            <div class="card-header d-flex justify-content-between mr-1 ml-1">-->
<!--                                <div class="oder_code_wrapper">-->
<!--                                    Mã Hóa Đơn: <a class="oder_code" href="javascript:;"> HD0001</a>-->
<!--                                </div>-->
<!--                                <div class="status">-->
<!--                                    <label>Chờ Xác nhận</label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <div class="card_content ">-->
<!--                                    <ul class="w-100">-->
<!--                                        <li class="row">-->
<!--                                            <div class="col-2 p-0">-->
<!--                                                <img class="product_img"-->
<!--                                                     src="https://firebasestorage.googleapis.com/v0/b/datn-lightbe.appspot.com/o/images%2F3gVCCKnBoL.png?alt=media&token=27e45ff7-6948-44d2-9e79-7af40bc586cc">-->
<!--                                            </div>-->
<!--                                            <div class="col-7 p-0">-->
<!--                                                <div>-->
<!--                                                    <h6 class="product_name mb-2">Jordan Max Aura 5</h6>-->
<!--                                                    <div class="w-100">-->
<!--                                                        Màu :<label>Màu Trắng</label>, Kích Cỡ :<label>32</label>-->
<!--                                                    </div>-->
<!--                                                    <label>Số Lượng : 1</label>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 d-flex align-items-center">-->
<!--                                                <h5 class="product_price_cu">10.000.000đ</h5>-->
<!--                                                <h5 class="product_price">9.000.000đ</h5>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        <li class="row">-->
<!--                                            <div class="col-2 p-0">-->
<!--                                                <img class="product_img"-->
<!--                                                     src="https://firebasestorage.googleapis.com/v0/b/datn-lightbe.appspot.com/o/images%2F3gVCCKnBoL.png?alt=media&token=27e45ff7-6948-44d2-9e79-7af40bc586cc">-->
<!--                                            </div>-->
<!--                                            <div class="col-7 p-0">-->
<!--                                                <div>-->
<!--                                                    <h6 class="product_name mb-2">Jordan Max Aura 5</h6>-->
<!--                                                    <div class="w-100">-->
<!--                                                        Màu :<label>Màu Trắng</label>, Kích Cỡ :<label>32</label>-->
<!--                                                    </div>-->
<!--                                                    <label>Số Lượng : 1</label>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 d-flex align-items-center">-->
<!--                                                <h5 class="product_price_cu">10.000.000đ</h5>-->
<!--                                                <h5 class="product_price">9.000.000đ</h5>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-footer pt-0">-->
<!--                                <div class="wrapper_money w-100 d-flex justify-content-end align-items-center pb-2 pt-2">-->
<!--                                    <label class="mb-0">Thành Tiền: </label><h4 class="show_total_money">9.000.000đ</h4>-->
<!--                                </div>-->
<!--                                <div class="d-flex justify-content-between align-items-center">-->
<!--                                    <div>-->
<!--                                        Đơn hàng được hủy bởi bạn.-->
<!--                                    </div>-->
<!--                                    <div class="card-btn-group">-->
<!--                                        <button class="primary-btn" type="button">Mua Lại</button>-->
<!--                                        <button class="info-btn" type="button">Xem Chi Tiết</button>-->
<!--                                        <button class="info-btn" type="button">Hủy Đơn</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="card w-100 mb-3" th:each="hoadon:${lsthoadon}">
                            <div class="card-header d-flex justify-content-between mr-1 ml-1">
                                <div class="oder_code_wrapper">
                                    Mã Hóa Đơn: <a class="oder_code" href="javascript:;" th:text="${hoadon.getMaHoaDon()}"></a>
                                </div>
                                <div class="status">
                                    <label th:text="${hoadon.getTrangThai().name()}"></label>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card_content ">
                                    <ul class="w-100">
                                        <li class="row" th:each="sanpham:${hoadon.getHoaDonChiTiets()}">
                                            <div class="col-2 p-0">
                                                <img class="product_img"
                                                     th:src="${sanpham.getChiTietSanPham().getAnh().getUrl()}">
                                            </div>
                                            <div class="col-7 p-0">
                                                <div>
                                                    <h6 class="product_name mb-2" th:text="${sanpham.getChiTietSanPham().getSanPham().getTen()}"></h6>
                                                    <div class="w-100">
                                                        Màu :<label th:text="${sanpham.getChiTietSanPham().getMauSac().getTen()}">Màu Trắng</label>, Kích Cỡ :<label th:text="${sanpham.getChiTietSanPham().getKichCo().getTen()}">32</label>
                                                    </div>
                                                    <label th:text="'Số Lượng :'+${sanpham.getSoLuong()}"></label>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex align-items-center">
                                                <h5 class="product_price_cu" th:text="${#numbers.formatDecimal(sanpham.getChiTietSanPham().getGiaGoc(), 1, 'DEFAULT', 0, 'DEFAULT')}+'đ'"></h5>
                                                <h5 class="product_price" th:text="${#numbers.formatDecimal(sanpham.getChiTietSanPham().getGiaBan(), 1, 'DEFAULT', 0, 'DEFAULT')}+'đ'"></h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer pt-0">
                                <div class="wrapper_money w-100 d-flex justify-content-end align-items-center pb-2 pt-2">
                                    <label class="mb-0">Thành Tiền: </label><h4 class="show_total_money" th:text="${#numbers.formatDecimal(hoadon.getThucThu(), 1, 'DEFAULT', 0, 'DEFAULT')}+'đ'"></h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        Đơn hàng được tạo bởi bạn.
                                    </div>
                                    <div class="card-btn-group">
                                        <button class="primary-btn" type="button">Mua Lại</button>
                                        <button class="info-btn" type="button">Xem Chi Tiết</button>
                                        <button class="info-btn" type="button">Hủy Đơn</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                         aria-labelledby="v-pills-settings-tab">
                        <div class="w-100">
                            <div class="w-100 mb-3 d-flex justify-content-between">
                                <h3 class="title_card">Danh Sách Mã Giảm Giá</h3>
                                <div class="form_filter">
                                    <select class="select_status" type="text">
                                        <option value="">Tất Cả</option>
                                        <option value="">Đã Sử Dụng</option>
                                        <option value="">Chưa Sử Dụng</option>
                                    </select>
                                    <input class="search_input" type="text" placeholder="Tìm kiếm mã giảm giá.">
                                </div>
                            </div>
                            <div class="list_voucher">
                                <ul id="w-100 list-voucher row">
                                    <li class="wraper_li col-4 p-0" th:each="voucher :${lstvouchers}">
                                        <div data-id="4" th:id="'voucher_'+${voucher.getId()}" class="wraper_voucher row m-0">
                                            <div class="col-9 contents p-2">
                                                <h5 class="text-center voucher_code" th:text="${voucher.getMa()}"></h5>
                                                <label class="express_date" th:text="'Hạn Đến:'+${#dates.format(voucher.getNgayKetThuc(),'HH:mm | dd/MM/yyyy')}"></label>
                                                <label class="express_date"th:text="'Điều Kiện: Áp dụng cho đơn hàng từ '+${#numbers.formatDecimal(voucher.getGiaTriToiThieu(), 1, 'DEFAULT', 0, 'DEFAULT')}+'đ'"></label>
                                                <label class="express_date" th:text="'Tối Đa:'+${#numbers.formatDecimal(voucher.getGiaTriToiDa(), 1, 'DEFAULT', 0, 'DEFAULT')}+'đ/Khách Hàng'"></label>
                                                <label class="express_date w-100" th:text="'Số lượng :'+${voucher.getSoLuong()}"></label>
                                            </div>
                                            <div class="col-3 p-2 row m-0 card__discount position-relative">
                                                <label class="col-4">Mã Giảm Giá</label>
                                                <h3 th:if="${voucher.getLoaiVoucher() == '$'}" class="col-6 tienmat" th:text="${#strings.substring(voucher.getGiaTriTienMat().intValue(), 0, #strings.length(voucher.getGiaTriTienMat().intValue()) - 3) + 'K'}"></h3>
                                                <h3 th:if="${voucher.getLoaiVoucher() == '%'}" class="col-6 phantram" th:text="${voucher.getGiaTriPhanTram()}+'%'"></h3>
                                            </div>
                                        </div>
                                    </li>
<!--                                    <li class="wraper_li col-4 p-0">-->
<!--                                        <div data-id="6" id="voucher_6" class="wraper_voucher row m-0">-->
<!--                                            <div class="col-9 contents p-2">-->
<!--                                                <h5 class="text-center voucher_code">VC00005</h5>-->
<!--                                                <label class="express_date">Hạn Đến: 22H13 Ngày 07/04/2024</label>-->
<!--                                                <label class="express_date">Điều Kiện: Áp dụng cho đơn hàng từ-->
<!--                                                    10.000.000đ</label>-->
<!--                                                <label class="express_date">Tối Đa:1.200.000đ/Khách Hàng</label>-->
<!--                                                <label class="express_date w-100">Số Lượng : 100</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-3 p-2 row m-0 card__discount position-relative">-->
<!--                                                <label class="col-4">Mã Giảm Giá</label>-->
<!--                                                <h3 class="col-6 tienmat">1.2M</h3>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

<!-- Footer Section Begin -->
<div th:replace="~{/customer/pages/_footer.html}"></div>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/assets/customer/js/jquery-3.3.1.min.js"></script>
<script src="/assets/customer/js/bootstrap.min.js"></script>
<script src="/assets/customer/js/jquery.nice-select.min.js"></script>
<script src="/assets/customer/js/jquery.nicescroll.min.js"></script>
<script src="/assets/customer/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/customer/js/jquery.countdown.min.js"></script>
<script src="/assets/customer/js/jquery.slicknav.js"></script>
<script src="/assets/customer/js/mixitup.min.js"></script>
<script src="/assets/customer/js/owl.carousel.min.js"></script>
<script src="/assets/customer/js/main.js"></script>
<script src="/assets/customer/js/profile/profile.js"></script>
</body>

</html>